@model IEnumerable<KurssiSeuranta.ViewModels.OpiskelijaViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div id="otsikko" style="margin-top: 100px;">
        <h1>Opiskelijat</h1>
        </div>
        <p>
            @Html.ActionLink("Luo uusi", "Create", null, new { @class = "btn btn-primary" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Etunimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sukunimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Opiskelijanro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tutkinto)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Etunimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sukunimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Opiskelijanro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tutkinto)
                    </td>
                    <td>
                        @Html.ActionLink("Muokkaa", "Edit", new { id = item.OpiskelijaID }) |
                        @Html.ActionLink("Tiedot", "Details", new { id = item.OpiskelijaID }) |
                        @Html.ActionLink("Poista", "Delete", new { id = item.OpiskelijaID })
                    </td>
                </tr>
            }

        </table>
    </div>