@model KurssiSeuranta.Models.OpetusTila

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <div id="otsikko" style="margin-top: 100px;">
        <h1>Oletko varma, että haluat poistaa tämän tiedon listalta?</h1>
        <h2>OpetusTila</h2>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LuokanNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuokanNimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuokkaKoodi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuokkaKoodi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no color" style="margin-top: 50px;">
            <input type="submit" value="Poista" class="btn btn-danger" /> 
            @Html.ActionLink("Palaa listaan", "Index", null, new { @class = "btn btn-info" })
        </div>
    }
</div>

