@model KurssiSeuranta.Models.OpetusTila

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid">
    <div id="otsikko" style="margin-top: 100px;">
        <h1>OpetusTila</h1>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LuokanNimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LuokanNimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LuokkaKoodi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LuokkaKoodi)
            </dd>

        </dl>
    </div>
    <div style="margin-top: 50px;">
        <p>
            @Html.ActionLink("Muokkaa", "Edit", new { id = Model.LuokkaID }) |
            @Html.ActionLink("Palaa listaan", "Index")
        </p>
        </div>
    </div>
