@model IEnumerable<KurssiSeuranta.ViewModels.OpetustilaViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container-fluid">
    <div id="otsikko" style="margin-top: 70px;">
        <h1>Opetustilat</h1>
        </div>

        <p>
            @Html.ActionLink("Luo uusi", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LuokanNimi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LuokkaKoodi)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LuokanNimi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LuokkaKoodi)
                    </td>
                    <td>
                        @Html.ActionLink("Muokkaa", "Edit", new { id = item.LuokkaID }) |
                        @Html.ActionLink("Tiedot", "Details", new { id = item.LuokkaID }) |
                        @Html.ActionLink("Poista", "Delete", new { id = item.LuokkaID })
                    </td>
                </tr>
            }

        </table>
    </div>
