@model IEnumerable<KurssiSeuranta.ViewModels.LasnaolotietoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kirjautuminen_sisään)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kirjautuminen_ulos)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luokkanumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurssinimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kurssikoodi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuokanNimi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuokkaKoodi)
        </th>
        <th>
                    @Html.DisplayNameFor(model => model.OpiskelijaNimi)
          </th>
                <th>
                    @Html.DisplayNameFor(model => model.OpettajaNimi)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kirjautuminen_sisään)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kirjautuminen_ulos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Luokkanumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kurssinimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kurssikoodi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuokanNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuokkaKoodi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpiskelijaNimi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpettajaNimi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.RekisteriID }) |
            @Html.ActionLink("Details", "Details", new { id = item.RekisteriID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.RekisteriID })
        </td>
    </tr>
}

</table>
