@model KurssiSeuranta.Models.Opettaja

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <div id="otsikko" style="margin-top: 100px;">
        <h1>Haluatko varmasti poistaa tämän tiedon listalta?</h1>
        <h2>Opettaja</h2>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Etunimi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Etunimi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Sukunimi)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Sukunimi)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Opettajanro)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Opettajanro)
                </dd>

            </dl>

            @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions danger" style="margin-top: 50px;">
                <input type="submit" value="Poista" class="btn btn-danger" /> 
                @Html.ActionLink("Palaa listaan", "Index", null, new { @class = "btn btn-info" })
            </div>
    }
        </div>
        </div>