@model KurssiSeuranta.Models.Kurssi

@{
    ViewBag.Title = "Delete";
}

<div class="container-fluid">
    <div id="otsikko" style="margin-top: 100px;">
        <h1>Oletko varma, että haluat poistaa tämän tiedon listalta?</h1>
        <h2>Kurssi</h2>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kurssinimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurssinimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kurssikoodi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kurssikoodi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no color" style="margin-top: 50px;">
            <input type="submit" value="Poista" class="btn btn-danger" /> |
            @Html.ActionLink("Palaa listaan", "Index")
        </div>
    }
</div>
