@model KurssiSeuranta.Models.Kurssi

@{
    ViewBag.Title = "Details";
}


<div class="container-fluid">
    <div id="otsikko" style="margin-top: 100px;">
        <h1>Kurssi</h1>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Kurssinimi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kurssinimi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Kurssikoodi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Kurssikoodi)
            </dd>

        </dl>
        <div style="margin-top: 50px;">
            <p>
                @Html.ActionLink("Muokkaa", "Edit", new { id = Model.KurssiID }) |
                @Html.ActionLink("Palaa listaan", "Index", null, new { @class = "btn btn-info" })
            </p>
        </div>
    </div>
</div>